.imgCentralContainer{
  display: flex;
  justify-content: center;
  margin-top: -7rem;
}
.imgCentral {
  height: 11rem;
  position: relative;
}


.imgCloud1 {
  position: relative;
  left: -20%;
  width: 44%;
}

.imgCloud2 {
  position: relative;
  left: 31%;
  width: 44%;
}


.imgCloud4 {
  position: relative;

}
